.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Espacio entre elementos */
  }
  
  .search-bar {
    width: 250px; /* Ajusta el ancho del buscador */
    font-size: 14px; /* Tamaño de texto más pequeño */
  }
  nav {
    margin-bottom: 20px;
  }
  
  a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
  }
  
  a.active {
    font-weight: bold;
    color: #1976d2;
  }